
<body>


<div class="" th:include="fragments/navSidebar" th:remove="tag"></div>



				<div class="span9">
					<div class="content">

						<div class="module message">
							<div class="module-head">
								<h3>Terminals</h3>
							</div>
							<div class="module-option clearfix">
								<div class="pull-left">
									Filter : &nbsp;
									<div class="btn-group">
										<button class="btn">All</button>
										<button class="btn dropdown-toggle" data-toggle="dropdown">
											<span class="caret"></span>
										</button>
										<ul class="dropdown-menu">
											<li><a href="#">All</a></li>
											<li><a href="#">In Progress</a></li>
											<li><a href="#">Done</a></li>
											<li class="divider"></li>
											<li><a href="#">New task</a></li>
											<li><a href="#">Overdue Task</a></li>
										</ul>
									</div>
								</div>
								<div class="pull-right">
									<a href="/terminal" class="btn btn-primary">Add Terminal</a>
								</div>
							</div>
							<div class="module-body table">								

								<table class="table table-message">
									<tbody>
										<tr class="heading">
											<td class="cell-icon">Terminals</td>
											<td class="cell-title">Terminal Groups</td>
											<td class="cell-status hidden-phone hidden-tablet">Created by</td>
										</tr>
										<tr th:each="terminal : ${terminals}" class="task resolved">
											<td class="cell-icon"><i class="icon-checker high"></i></td>
											<td th:text="|$terminal.serial_number|" class="cell-title"><div>[serial_number]</div></td>
											<td th:text="|$terminal.version|"class="cell-status hidden-phone hidden-tablet"><b class="due">[terminal.terminal_group.name]</b></td>
											<td th:text="|$terminal.user.name|" class="cell-time align-right">[terminal.user.name]</td>
										</tr>
									</tbody>
								</table>


							</div>
							<div class="module-foot">
							</div>
						</div>
						
					</div><!--/.content-->
				</div><!--/.span9-->
			</div>
		</div><!--/.container-->
	</div><!--/.wrapper-->

	<div class="footer">
		<div class="container">
			 

		</div>
	</div>

	<div th:include="fragments/footer" class="" th:remove="tag"></div>
	<script src="scripts/datatables/jquery.dataTables.js" type="text/javascript"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('.table-message tbody tr').click(
				function() 
				{
					$(this).toggleClass('resolved');
				}
			);
		} );
	</script>
</body>