
<body>


<div class="" th:include="fragments/navSidebar" th:remove="tag"></div>



                <div class="span9">
                    <div class="content">

                        <div class="module message">
                            <div class="module-head">
                                <h3>Terminal Groups</h3>
                            </div>
                            <div class="module-option clearfix">
                                <div class="pull-left">
                                    Filter : &nbsp;
                                    <div class="btn-group">
                                        <button class="btn">All</button>
                                        <button class="btn dropdown-toggle" data-toggle="dropdown">
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">All</a></li>
                                            <li><a href="#">In Progress</a></li>
                                            <li><a href="#">Done</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">New task</a></li>
                                            <li><a href="#">Overdue Task</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="pull-right">
                                    <a href="/terminalgroup" class="btn btn-primary">Create Terminal Group</a>
                                </div>
                            </div>
                            <div class="module-body table">                             

                                <table class="table table-message">
                                    <tbody>
                                        <tr class="heading">
                                            <td class="cell-icon">Terminal Group</td>
                                            <td class="cell-title">Partition Size</td>
                                            <td class="cell-status hidden-phone hidden-tablet">Created by</td>
                                            <td class="cell-time align-right">Upgrade Type</td>
                                        </tr>
                                        <tr th:each="terminal_group : ${terminal_groups}" class="task resolved">
                                            <td class="cell-icon"><i class="icon-checker high"></i></td>
                                            <td th:text="|$terminal_group.name|" class="cell-title"><div>[name]</div></td>
                                            <td th:text="|$terminal_group.partition_size|"class="cell-status hidden-phone hidden-tablet"><b class="due">[partition_size]</b></td>
                                            <td th:text="|$terminal_group.upgrade_type|" class="cell-time align-right">[upgrade_type]</td>
                                        </tr>
                                    </tbody>
                                </table>


                            </div>
                            <div class="module-foot">
                            </div>
                        </div>
                        
                    </div><!--/.content-->
                </div><!--/.span9-->
            </div>
        </div><!--/.container-->
    </div><!--/.wrapper-->

    <div class="footer">
        <div class="container">
             

        </div>
    </div>

    <div th:include="fragments/footer" class="" th:remove="tag"></div>
    <script src="scripts/datatables/jquery.dataTables.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.table-message tbody tr').click(
                function() 
                {
                    $(this).toggleClass('resolved');
                }
            );
        } );
    </script>
</body>