 <body>
    <div class="" th:include="fragments/navSidebar" th:remove="tag"></div>
    <div class="span9">
    	<div class="content">
    		<div class="module">
    			<div class="module-head">
					<h3>Terminal</h3>
				</div>
		    	<div class="module-body">
		    		<form class="form-horizontal row-fluid" th:action="@{/terminal}" th:object="${terminal}" method="post">
						<div class="control-group">
							<label for="basicinput" class="control-label">Serial</label>
							<div class="controls">
								<input type="text" id="basicinput" th:field="*{serial_number}" placeholder="Serial number" class="span8">
							</div>
						</div>

						<div class="control-group">
							<div class="controls">
								<button type="submit" class="btn btn-primary">Add Terminal</button>
							</div>
						</div>
					</form>
		    	</div>
		    </div>
    	</div>
    </div>
    
	
    <div th:include="fragments/footer" class="" th:remove="tag"></div>
  
</body>
